@import '../../colors';
@import '../../mixins';
@import '../../variables';

.applicationform {
  &__input {
    padding: 9px;
    border-radius: 2px;
    background-color: $tone-3;
    border: none;
    width: 100%;
    outline: none;
    box-sizing: border-box;

    &--textarea {
      resize: vertical;
      width: 100%;
      min-height: 64px;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: $tone-5;
    }
  }
}