@import '../colors';
@import '../mixins';
@import '../variables';

.app {
  position: relative;
  &__content {
    @include flex(space-between, flex-start);
    padding-top: 16px;
  }

  &__col {
    width: calc(50% - 20px);
    box-sizing: border-box;
  }

  &__form {
    width: calc(100% - 400px);
  }

  &__action-panel {
    width: 350px;
    position: fixed;
    top: 100px;
    right: 20px;
    border: rgba(0,0,0,0.1) 2px solid;
    padding: 20px 20px 40px 20px;
    background-color: white;
  }

  &__items {
    list-style-type: none;
    border: 2px solid $tone-2;
    border-bottom: none;
    margin: 10px 0;
  }

  &__item {
    padding: 25px;
    background-color: white;
    border-bottom: 2px solid $tone-2;
    transition: box-shadow 400ms $normal-ease;
    &--empty {
      color: $tone-6;
      padding: 60px 20px;
      font-size: 0.9rem;
      text-align: center;
    }
  }

  &__shrug {
    display: block;
    font-size: 2rem;
    transform: translate3d(0, 0, 0);
    animation: app__shrug $long-speed $normal-ease infinite;
    @keyframes app__shrug {
      0% { transform: rotate(0deg) }
      25% { transform: rotate(4deg) }
      50% { transform: rotate(0deg) }
      75% { transform: rotate(-4deg) }
      100% { transform: rotate(0deg) }
    }
    &-header {
      margin: 8px 0 0;
    }
  }

  &__event {
    padding-top: 6px;
  }

  &__description {
    font-size: 0.95rem;
    padding-top: 10px;
    opacity: 0.7;
  }

  &__apply-btn {
    display: inline-block;
    background-color: $highlight;
    color: $tone-1;
    box-shadow: $elevate-10;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
    font-weight: bold;
    padding: 12px 30px;
    font-size: 14px;
    text-decoration: none;
    transition: all ease 0.3s;
    outline: none;
    &:hover {
      background-color: darken($highlight, 5%);
      transition: all ease 0.3s;
    }
    &--disabled {
      opacity: 0.5;
      transition: all ease 0.3s;
    }
  }

  &__small-label {
    opacity: 0.7;
    padding-top: 10px;
    display: inline-block;
  }
}

@include desktop {
  .app {
    &__content {
      flex-direction: column;
    }

    &__col {
      width: 80%;
      margin-bottom: 30px;
    }
    &__form {
      width: 100%;
      padding-bottom: 200px;
    }
    &__action-panel {
      top: auto;
      left: $sidenav-expanded;
      right: 0;
      width: calc(100% - #{$sidenav-expanded} - 40px);
      border: none;
      box-shadow: rgba(0,0,0,0.1) 0 0 20px;
      bottom: 20px;
    }
  }
}

@include tablet {
  .app {
    &__col {
      width: 100%;
    }
    &__action-panel {
      left: $sidenav-collapsed + 20px;
      bottom: 0;
      width: calc(100% - #{$sidenav-collapsed} - 40px);
    }
  }
}
