@import '../colors';
@import '../mixins';
@import '../variables';

.login {
  $self: &;
  width: 100%;
  display: flex;

  &__head {
    color: $background;
    font-weight: bold;
    padding-bottom: 60px;
    opacity: 0.7;
  }
  &__header {
    font-size: 1.6rem;
    margin-bottom: -2px;
  }
  &__subheader {
    font-size: 1.1rem;
  }
  &__section {
    width: 50%;
    box-sizing: border-box;
    padding: 35px 45px;
    &--login {
      background-color: white;
      animation: login__section--login $long-speed $normal-ease backwards;
      @keyframes login__section--login {
        from { transform: translate3d(-100%, 0, 0) }
        to { transform: translate3d(0, 0, 0) }
      }
    }
    &--register {
      color: $tone-3;
      background-color: $background;
      padding-top: 60px;
      animation: login__section--register $long-speed $normal-ease backwards;
      @keyframes login__section--register {
        from { transform: translate3d(-50%, 0, 0); opacity: 0; }
        to { transform: translate3d(0, 0, 0); opacity: 1; }
      }
    }
  }

  &__wrapper {
    &--register {
      padding-top: 40px;
    }
  }

  &__form {
    padding: 10px 0 15px;
  }

  &__form-header {
    display: inline;
    font-size: 1.8rem;
    padding: 0 30px 10px 0;
    border-bottom: 5px solid $highlight;
  }

  &__item {
    width: 80%;
    max-width: 300px;
    font-size: 1.1rem;
    margin-top: 15px;
    @include flex(flex-start, column);
  }

  &__input {
    outline: none;
    padding: 9px;
    border-radius: 2px;
    background-color: $tone-3;
    border: none;
  }

  &__label {
    font-weight: bold;
    padding-bottom: 4px;
  }
}

@include tablet {
  .login {
    flex-direction: column;
    &__head {
      padding-bottom: 30px;
    }
    &__section {
      width: 100%;
    }
  }
}

@include phone {
  .login {
    &__section {
      min-height: 100vh;
    }
    &__item {
      width: 100%;
    }
  }
}
