@import './colors.scss';
@import './mixins.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#root {
  @include flex;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $background;
  height: 100vh;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    width: 6px;
    background-color: $tone-4;
    &-thumb {
      background-color: $tone-6;
    }
  }
}