@import '../../colors';
@import '../../mixins';

.sidenav {
  $self: &;
  &__item-text {
    text-decoration: none;
    color: inherit;
  }
  &__item {
    padding: 5px 30px;
    margin: 9px 0;
    transition: color $normal-speed $normal-ease;
    &--active {
      color: $highlight;
    }

    #{ $self }__items--bottom & {
      margin: 0;
    }
  }
}